<?xml version="1.0" encoding="UTF-8"?>
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

  <Resource name="jdbc/ValidaHora" url="jdbc:mysql://localhost:3306/validahora"
            defaultAutoCommit="false"
            username="root" password="rootadmin" auth="Container"
            driverClassName="com.mysql.jdbc.Driver" type="javax.sql.DataSource"
            initialSize="2" maxActive="40" maxIdle="5" minIdle="1" maxWait="10000"
            testWhileIdle="true" validationQuery="SELECT 1" validationQueryTimeout="2"
            timeBetweenEvictionRunsMillis="60000" minEvictableIdleTimeMillis="600000"
            removeAbandoned="true" removeAbandonedTimeout="30" logAbandoned="true"
  />

  <Resource name="jdbc/EstiveAqui" url="jdbc:mysql://localhost:3306/estiveaqui"
            defaultAutoCommit="false"
            username="root" password="rootadmin" auth="Container"
            driverClassName="com.mysql.jdbc.Driver" type="javax.sql.DataSource"
            initialSize="2" maxActive="40" maxIdle="5" minIdle="1" maxWait="10000"
            testWhileIdle="true" validationQuery="SELECT 1" validationQueryTimeout="2"
            timeBetweenEvictionRunsMillis="60000" minEvictableIdleTimeMillis="600000"
            removeAbandoned="true" removeAbandonedTimeout="30" logAbandoned="true"
  />

   <Parameter name="AWSChaveDeAcesso" value="AKIAJGGA2ADFUWC2CXTA" override="false"/>
   <Parameter name="AWSSenha" value="bQsk+o/RE2lmGEH+TUCHQbZC5z1iWKkc/CI89uPk" override="false"/>
   <Parameter name="AWSS3BucketName" value="relatorio.des.estiveaqui.com.br" override="false"/>

  <Resource name="mail/Session" auth="Container"
            type="javax.mail.Session"
            mail.smtp.host="email-smtp.us-east-1.amazonaws.com"
            mail.smtp.port="587"
  />
  
  <Parameter name="Ambiente" value="Desenvolvimento" override="false"/>
  <Parameter name="NomeServidor" value="localhost" override="false"/>
  <Parameter name="PortaServidor" value="8080" override="false"/>
  <Parameter name="SenhaValidaHora" value="Teste" override="false"/>
  
</Context>
